<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ftrono.DJames.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".application.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".application.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:label="Settings"
            android:launchMode="singleInstance"
            android:parentActivityName=".application.MainActivity">
        </activity>

        <activity
            android:name=".application.FakeLockScreen"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:label="FakeLockScreen"
            android:theme="@style/AppTheme.FakeLockScreen"
            android:launchMode="singleInstance"
            android:parentActivityName=".application.MainActivity">
        </activity>
        <activity
            android:name=".application.WebAuth"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".application.MainActivity">
        </activity>
        <activity
            android:name=".application.LoadingScreen"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".application.MainActivity">
        </activity>

        <service
            android:name=".service.FloatingViewService"
            android:label="Overlay Service"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone">
        </service>
        <service
            android:name=".service.VoiceSearchService"
            android:label="Voice Search Results"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone">
        </service>

    </application>

</manifest>